# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# Kubernetes
kubeconfig

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

kubernetes/secrets/*.yaml
!kubernetes/secrets/*yaml.example

# Terraform plans
*.tfplan

# Local environment
.env

# Python cache
__pycache__/